<div class="secciones">
    <h3>Habilidades:</h3>
    <div class="button4">
      <button class="Edit" type="button" onclick="editar5()"><i class="fa-solid fa-pencil"></i></button>
    </div>
   <div >
     <ul class="lista" >
        <li class="habilidades"><b>HTML/CSS</b> <div class="container"><div class="barra">75%</div></div></li>   
        <li class="habilidades"><b>JAVASCRIPT</b><div class="container"><div class="js">50%</div></div></li>
        <li class="habilidades"><b>BOOTSTRAP</b> <div class="container"><div class="barra">75%</div></div></li>
        <li class="habilidades"><b>ANGULAR </b><div class="container"><div class="barra">75%</div></div></li>
        <li class="habilidades"><b>MySQL </b><div class="container"><div class="barra">75%</div></div></li>
        <li class="habilidades"><b>JAVA</b> <div class="container"><div class="barra">75%</div></div></li>
        <li class="habilidades"><b>C++</b> <div class="container"><div class="barra">75%</div></div></li>
        <li class="habilidades" id="text-habilidades"></li>
     </ul>
   </div>
   <div>
      <input id="edit-habilidades" type="text" oninput="myFunction6(this.value)" style="display: none;">
   </div>
</div>

