<div class="secciones">
    <h3>Educación:</h3>
    <div class="button3">
    <br>
    <button class="Edit" type="button" onclick="editar3()"><i class="fa-solid fa-pencil"></i></button>
    <button class="Edit2" type="button" onclick="editar4()"><i class="fa-solid fa-pencil"></i></button>
    </div>
    <ul>
    <li class="estudios" id="text-educacion1"><img class="educacion" src="https://raw.githubusercontent.com/Estelavm/Portfolio/master/Img/inti.ico"> Realicé el curso introductorio Sé Programar brindado por el Ministerio de Desarrollo Productivo conjuntamente con el INTI (08/21-10/21)  Y posteriormente realicé la segunda etapa del curso,<br> YoProgramo, para ser Desarrolladora Full Stack Jr.(11/21-05/22). <br> </li>
    <li class="estudios" id="text-educacion2"><img class="educacion" src="https://github.com/Estelavm/Portfolio/blob/master/Img/uai.png?raw=true"> Actualmente cursando la Tecnicatura de Analista en Programación en la Universidad Abierta Interamericana (04/22-Actualidad).</li>
    </ul>
    <div>
      <input id="edit-educacion1" type="text" oninput="myFunction4(this.value)" style="display: none;">
</div>
<div>
      <input id="edit-educacion2" type="text" oninput="myFunction5(this.value)" style="display: none;">
</div>
</div>

