<h1 class="titulos">Full Stack Developer</h1>  
<h2 class="titulos">Estela Verónica Menéndez</h2>
<br>
<div class="secciones">
    <h3>Acerca de mí:</h3>
    <div class="button1">
        <button class="Edit" type="button" onclick="editar()"><i class="fa-solid fa-pencil"></i></button>
    </div>
    <img class="foto" src="https://github.com/Estelavm/Portfolio/blob/master/Img/mi-foto100.png?raw=true" alt="Foto de Estela Verónica Menéndez">

    <p id="text-acercade">Soy Estela Verónica Menéndez, estoy comenzando mi camino como Full Stack Developer y además estoy estudiando la carrera de Analista en Programación en la Universidad Abierta Interamericana.</p>
    <div>
          <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none;">
    </div>
</div>

