
<header>
    <div class="redes">
        <a href= "https://www.facebook.com/EstelaVeronicaMenendez/" target="_blank"><img src="https://github.com/Estelavm/Portfolio/blob/master/Img/Face50.png?raw=true"></a>        
        <a href="https://www.instagram.com/estelavm30" target="_blank"><img src="https://github.com/Estelavm/Portfolio/blob/master/Img/Instagram50.png?raw=true" ></a>
    </div>
    <!--
    <button class="login" type="button" class="btn btn-info" onclick="validar_usuario()"><b>Login</b></button>
    -->
  <form action="" class="formulario-login">
    <input type="text" class="login" placeholder="Email">
    <input type="password" class="login" placeholder="Contraseña">
    <button class="login" id="color" class="btn btn-info">Entrar</button>
  </form>
    <div class="logo">
       <img src="https://github.com/Estelavm/Portfolio/blob/master/Img/Arg-programa.png?raw=true">
    </div>
  </header> 
  <h1 class="titulos">Full Stack Developer</h1>  
    <h2 class="titulos">{{miPortfolio.name}}</h2>
    <br>